header {
    background-color: #013006;
    color: white;
    padding: 1em;
    grid-area: header;
}

nav {
    background-color: #014e2e;
    grid-area: nav;
}

main {
    background-color: #c1d32f;
    color: white;
    grid-area: main;
}

aside {
    background-color: #c1d32f;
    grid-area: aside;
}

footer {
    background-color: #013006;
    color: white;
    grid-area: footer;
}

body {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: auto;
    grid-template-areas:
        "header header header"
        "nav nav nav"
        "main main aside"
        "footer footer footer"
    ;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
}


main img {
    width: 100%;
}

main {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 2em;
    row-gap: 2em;
}